# Dependencies
node_modules
.turbo
dist
.next
out
coverage
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Database
**/dev.db
**/dev.db-journal
apps/api/prisma/dev.db

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

# Docker volumes
infrastructure/docker/data
